{{- if  ne .chezmoi.osRelease.id "nixos"  }}
picom
nm-applet &
dunst -config ~/.config/dunst/dunstrc &
xclip &
volumeicon &
{{ end }}

{{- if ne .chezmoi.hostname "nix-laptop-box" }}
~/scripts/screen_setup.sh
wal -i ~/google_drive/Wallpaper/
{{- end}}

insync start  & 
