#!/usr/bin/env sh

#
{{ if (ne .chezmoi.hostname "nixos-laptop")  }}
git clone https://github.com/hlissner/doom-emacs ~/doom-emacs
~/doom-emacs/bin/doom install

nix-env -i insync
insync start

# TODO make vim plug auto install
